<div class="container frame">
  <h6>Institution View Configuration</h6>
  <div class="form-group col-12">
    <br>
    <label style="font-weight: bold">Home Title</label>
    <label style="font-style: italic; font-size: small; font-weight: lighter; margin-left: 10px"> * Leave empty to use default title </label>
    <input style="border-color: gray; border-width: 0.05cm" type="text"
            class="form-control" name="homeTitle" [(ngModel)]="viewConfiguration.homeTitle" placeholder="Custom title displayed for participants">
    <br>
    <div class="form-group row align-items-center">
      <label for="hideGrowthCharts" class="col-sm-2 col-form-label font-weight-bold">Hide Growth Charts</label>
      <div class="col-sm-10">
        <mat-slide-toggle id="hideGrowthCharts" name="hideGrowthCharts" [(ngModel)]="viewConfiguration.hideGrowthCharts" color="primary"></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
