h2 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

.header {
<<<<<<< HEAD
  background-color: #f0d162;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 999;
}

.links {
  padding-top: 22px;
=======
    background-color: #f0d162;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
}

.links {
    padding-top: 22px;
>>>>>>> f3dd644... reasearch page design changes
}

body,
html {
<<<<<<< HEAD
  height: 100%;
  margin: 0;
  font-family: Arial;
=======
    height: 100%;
    margin: 0;
    font-family: Arial;
>>>>>>> f3dd644... reasearch page design changes
}


/* Style tab links */

.tab-link {
<<<<<<< HEAD
  margin-top: 10px;
  background-color: #b39e52;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 20%;
  text-align: center;
}

.active {
  background-color: #b0b02c;
  color: white;
}

.tab-link:hover {
  background-color: #ffeba1;
  color: #2c387e;
  font-weight: bold;
=======
    margin-top: 10px;
    background-color: #b0b02c;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

.active {
    background-color: #b39e52;
    color: white;
}

.tab-link:hover {
    background-color: #ffeba1;
    color: #2C387E;
    font-weight: bold;
>>>>>>> f3dd644... reasearch page design changes
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.login-button {
<<<<<<< HEAD
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px 10px;
=======
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px 10px;
>>>>>>> f3dd644... reasearch page design changes
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
<<<<<<< HEAD
  background-color: #2c387e;
}
=======
    background-color: #2C387E;
}
>>>>>>> f3dd644... reasearch page design changes
