h2 {
  text-align: center;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
}

.links{
  padding-top: 22px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */


.active{
  background-color: #1048c2;
  color: white;
}
.tab-link:hover {
  background-color: #B2B9E1;
  color: #0612ba;
  font-weight: bold;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.login-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px 10px;
}

  a {
    text-decoration: none;
  }

  .header{
    background-color: #0039E6;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
  }

  .links{
    padding-top: 22px;
  }

  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

  /* Style tab links */
  .tab-link {
    background-color: #4d79ff;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 17px;
    width: 16.667%;
    text-align:center;
  }

  .active{
    background-color: #002699;
    color: white;
  }
  .tab-link:hover {
    background-color: #B2B9E1;
    color: #2C387E;
    font-weight: bold;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .login-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px 10px;


  }

.center {
  display: block;
  margin:auto;
}

.header-logo {
  cursor: pointer;
}

.bxs-x-circle {
  /* position:absolute; */
  position:relative;
  left:500px;
  top:100px;
  z-index:100;
  /* display:none; */
}

.bx-menu {
  font-size:50px;
  display:none;
}


@media(max-width:950px) {

  .header a {
    font-size:75%;
  }

}

@media(max-width:693px) {

  .header {
    padding-bottom:70px;
    /* margin-bottom:150px; */
  }

  .header .tab-link{
    opacity:0;
    /* display:inline; */
  }

  .header .tab-link.superactive {
    /* margin-left:600px; */
    opacity:1;
    position:absolute;
    display:block;
    width:100%;
  }

  .header .tab-link.active.superactive {
    opacity:1;
    position:absolute;
    display:block;
    width:100%;
  }

  .header .tab-link:nth-of-type(1).superactive {
    top:0px;
  }

  .header .tab-link:nth-of-type(2).superactive {
    top:75px;
  }

  .header .tab-link:nth-of-type(3).superactive {
    top:150px;
  }

  .header .tab-link:nth-of-type(4).superactive {
    top:220px;
  }

  .header .tab-link:nth-of-type(5).superactive {
    top:290px;
  }

  .header .tab-link:nth-last-of-type(1).superactive {
    top:360px;
  }

  .header-logo {
    width:50px;
    height:50px;
    position:relative;
    top:-40px;
  }

  .titles-logo {
    position:relative;
    top:-30px;
  }

  .bx-menu {
    display:block;
    position:relative;
    left:570px;
    top:87px;
    font-size:35px;
    color:white;
    transition: transform 4.4s ease 0s;
  }

  .extendable {
    padding-bottom:0px;
  }

}

@media(max-width:614px) {

  .bx-menu {
    transform: translateX(-120px);
    /* left:460px; */
  }


}

@media (max-width:490px) {

  .bx-menu {
    left:530px;
    transition: transform 4.4s ease 0s;
  }


}

@media(max-width:445px) {

  .bx-menu {
    transform: translateX(-200px);
  }

}

@media(max-width:365px) {

  .bx-menu {
    /* left:480px; */
    left:520px;
  }

  .mybuttons {
    /* width:50px; */
    position:relative;
    top:100px;
    left:-110px;
  }

  /*
  .back-button {
    background-color: #4d79ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #002699;
  }
  
  .bx-arrow-back {
    margin-right: 10px;
  }
*/

}


/* @media(max-width:280px) {

  .bx-menu {
    left:420px;
  }

  .mybuttons {
    position:relative;
    top:100px;
    left:-70px;
  }

} */
