<title>{{'PARENTPORTAL.TITLE' | translate}}</title>

<div class="header">
  <h2 matDialogTitle>{{ 'PARENTPORTAL.TITLE' | translate }}</h2>
  <div align="center"><i> <img src="assets/images/logo.png" alt="" height="80" width="80"> </i></div>
  <div class="login-button">
    <button mat-raised-button (click)="logout()" translate>{{'Log out' | translate}}<i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>

  <div align="center"><i></i></div>
  <a class="tab-link" routerLink="/parent/home" routerLinkActive="active">{{'Questionnaire' | translate}}</a>
  <a class="tab-link" routerLink="/parent/history" routerLinkActive="active">{{'Results' | translate}}</a>
  <a class="tab-link" routerLink="/parent/recommend" routerLinkActive="active">{{'Recommendations' | translate}}</a>
  <a class="tab-link" routerLink="/parent/tracker" routerLinkActive="active">{{'Tracking' | translate}}</a>
  <a class="tab-link" routerLink="/parent/tracker-history" routerLinkActive="active">{{'Tracking History' | translate}}</a>
</div>
