.quest-id-container {
  display: flex;
  justify-content: center;
  /* padding-top: 10%; */
  padding-top: 200px;
}
.quest-id-card {
  width: 60%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  height: 220px;
}
.quest-id-input {
  padding-right: 30px;
}
.quest-id-button {
  padding-left: 85px;
}
.quest-id-reference {
  padding-top: 20px;
}
.quest-id-span {
  display: inline-flex;
}
.quest-id-textfield {
  font-size: large;
}
.spanish-button {
  margin: 10px auto;
  margin-top: 100px;
  background-color: cornflowerblue;
}
.english-button {
  margin: 10px auto;
  margin-top: 100px;
  background-color: cornflowerblue;
}
.home-greeting {
  color: red;
  margin: 10px auto;
  margin-bottom: 20px;
}
