.quest-id-container {
  display: flex;
  justify-content: center;
  /* padding-top: 10%; */
  padding-top: 200px;
}
.quest-id-card {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  height: 300px;
}
.quest-id-input {
  padding-right: 30px;
}

.quest-id-button {
  font-size: 1.5em;
  padding:15px 30px;
  /*padding-left: 85px;*/
}
.quest-id-reference {
  padding-top: 20px;
}
.quest-id-textfield {
  font-size: large;
}

.lang-button {
  background-color: #35a2a6;
  color: white;
}

.button-div {
  margin-top: 16px;
  text-align: center;
}

@media(max-width:693px) {
  .quest-id-card {
    margin-top:100px;
  }
}
