<admin-header></admin-header>

<h1 class = "growthy">Growth Charts</h1>

<p class = "description">Growth charts are essentially proportion curves which aim to present the distribution of selected quantitative data in children. Growth charts are analyzed by nutritionists to track the growth of babies, young adolescents, and adolescents.
  Growth charts are essentially tools that allow the proper analysis of a child's health. It is not the sole indicative of health, but it is one of the main parts of the process that determines health levels.
</p>

<div class = "my-display-now">

  <div class = "grid">
    <img src = "../../../assets/adminresults-images/image-child.jpeg" width = "300">
  </div>

  <div class = "grid">
    <img src = "../../../assets/adminresults-images/image-child2.jpeg" width = "300">
  </div>

  <div class = "grid">
    <img src = "../../../assets/adminresults-images/image-child3.jpeg" width = "300">
  </div>

</div>








