.hidden {
    visibility: hidden;
  }
  .loader-overlay {
    position: absolute;
    width: 100%;
    z-index: 500000;
    top: 0;
  }
  .loader {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff00;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader:before {
    display: block;
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #5c00f0;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }