<research-header></research-header>

<div class="container_page">
    <div class="container" *ngIf="results.length === 0">
        <mat-card class="quest-id-card">
            <h2 matDialogTitle>{{MESSAGE}}</h2>
        </mat-card>
    </div>
    <div *ngFor="let result of results; let i = index">
        <div class="container">
            <mat-card class="quest-id-card">
                <mat-card-content>
                    <!--Labels for questionnaire results-->
                    <div class="row">
                        <div class="col-2" style="text-align:center">
                            <label><strong>Date</strong></label>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <label><strong>Questionnaire ID</strong></label>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <label><strong>Participant ID</strong></label>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <label><strong>Infant age (In months)</strong></label>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <label><strong>Infant gender</strong></label>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <label><strong>Nutrients</strong></label>
                        </div>
                    </div>

                    <!--Questionnaire results-->
                    <div class="row">
                        <div class="col-2" style="text-align:center">
                            {{result.date}}
                        </div>
                        <div class="col-2" style="text-align:center">
                            {{result.questionnaireId}}
                        </div>
                        <div class="col-2" style="text-align:center">
                            {{rsult.participantId}}
                        </div>
                        <div class="col-2" style="text-align:center">
                            {{result.ageInMonths}}
                        </div>
                        <div class="col-2" style="text-align:center">
                            {{result.gender}}
                        </div>
                        <div class="col-2" style="text-align:center; cursor:pointer">
                            <a><i title="nutrients" class="fa fa-flask"></i></a>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>