.container{
  padding-top: 20px;
  margin-bottom: 20px;
}

.container_page{
  padding-top: 180px;
  margin-bottom: 50px;
}

.container-choices{
  padding-top: 30px;
  margin-bottom: 20px;
  margin-left:40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableDiv {
  padding: 35px;
}

.quest-id-card {
  text-align: center;
}


@media(max-width:695px) {
  .container_page {
    padding-top: 200px;
  }
}

@media(max-width:646px) {

  .btn-info {
    transition: trasform 3.4s ease 0s;
  }

}

@media(max-width:320px) {

    #questionnairesID {
      width:50px;
    }

    #responseq {
      /* width:330px; */
      /* padding-left:50px; */
      /* border:1px solid black; */
      text-align:left;
    }

    .quest-id-card {
      /* border: 1px solid black; */
      width:310px;
      margin-left:-10px;
    }


}

