<researchparental-header></researchparental-header>

<div class="research-quest-id-container">
  <mat-card  class="research-quest-id-card">
    <mat-card-content>
      <span class="research-quest-id-span">
        <mat-card-actions>
          <div class="research-quest-id-button">
            <button mat-raised-button
                    (click)="startQuestionnaireResearch()"
                    color="primary" >{{'Begin Questionnaire' | translate}}</button>
          </div>
          <div class="language-Buttons">
            <a (click)="useLanguage('es')" mat-raised-button class="button">Para Español</a>
            <a (click)="useLanguage('en-US')" mat-raised-button class="button">English Version</a>
          </div>
        </mat-card-actions>
      </span>
    </mat-card-content>
  </mat-card>
</div>
