.research-quest-id-container {
  display: flex;
  justify-content: center;
  /* padding-top: 10%; */
  padding-top: 200px;
}
.research-quest-id-card {
  width: 60%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  height: 200px;
}
.research-quest-id-input {
  padding-right: 30px;
}
.research-quest-id-button {
  padding-left: 30px;
}
.research-quest-id-span {
  display: inline-flex;
}
.research-quest-id-textfield {
  font-size: large;
}
