<researchparental-header></researchparental-header>

<div class="research-quest-id-container">
  <mat-card  class="research-quest-id-card">
    <mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-raised-button
                    (click)="startQuestionnaireResearch()"
                    color="primary" >{{'Begin Questionnaire' | translate}}</button>
          </div>
          <div class="language-padding">
            <a (click)="toggleLanguage()" mat-raised-button class="language-button">{{'For English' | translate}}</a>
          </div>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
