.tracker-container {
    padding-top: 200px;
    margin-bottom: 50px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff00;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #5c00f0;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.trackeritem-container {
    display: flex;
    justify-content: center;

  }

.tracker-card {
  width: 50%;
  justify-content: center;
  margin-bottom: 10px;
  background-color: yellow;
}

.tracker-card2 {
  width: 50%;
  justify-content: center;
  margin-bottom: 10px;
  background-color: white;
}

.top{
    color: #ff6f69;
}
.med{
    color: #96ceb4;
}
.bot{
    color: #ffcc5c;
}

li.GoalList{
    font-size: 25px;
}

h2.GoalTitle{
    font-size: 28px;
}

textarea[name=goal] {
  resize: none;
}

@media (max-width: 500px) {
  .tracker-card {
     width: 90%;
  }
  .tracker-card2 {
    width: 90%;
  }
}

.flex-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.box {
  width: 100%;
}
