.container{
  padding-top: 20px;
  margin-bottom: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff00;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #5c00f0;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.container_page{
  padding-top: 200px;
  margin-bottom: 50px;
}
.container-choices{
  padding-top: 30px;
  margin-bottom: 20px;
  margin-left:40px;
}

.quest-results-card {
  width: 60%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  height: 200px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableDiv {
  padding: 35px;
}

.mat-raised-button{
  background-color: #6573C3;
  color: white;
}