<div class="questionnaire-container" *ngIf="(dataLoaded | async)">
    <div align="center"><i> <img src="assets/images/logo.png" alt="" height="80" width="80"> </i></div>
    <h2 matDialogTitle style="font-size: 2rem">{{TITLE}}</h2><br>
    <text-card mainMessage="{{MAIN_MESSAGE}}" [bulletedMessages]="BULLETED_INSTRUCTIONS" [instructionsTitle]="INSTRUCTIONS_TITLE"></text-card>
    <br>

    <div class="qb-container">
        <mat-card class="qb-card-ref">
            <mat-label style="text-align:center" class="qb-row-item" i18n><strong>Serving sizes for the questionnaire are reviewed <a href="assets/pdf/QuestionnaireRef.pdf" target="_blank">here</a>.</strong></mat-label>
        </mat-card>
    </div>

    <!--Question block per food item before button-->

    <div class="qb-container">
      <mat-card class="qb-card">
        <mat-label style="text-align:center" class="qb-row-item" i18n><strong>Infant age</strong></mat-label>
        <mat-form-field>
          <input matInput value="infantage" class="qb-row-item" [(ngModel)]=infantage type="number" min="1" max="24" step="1" pattern="\d+" placeholder=" In months " autocomplete="off" required i18n-placeholder>
        </mat-form-field>
        <mat-error *ngIf="" i18n>
          Age (in months) of the infant is required.
        </mat-error>
        <!--Added this mat-error to let the user know that they need to input integers only-->
        <!--Trying to figure out how to stack error messages so they can see a input error and a integer error-->
        <mat-error *ngIf="infantage % 1 != 0" i18n>
          Age cannot be in decimal
        </mat-error>

      </mat-card>
    </div>
    <div class="qb-container">
        <mat-card class="qb-card">
            <mat-label style="text-align:center" class="qb-row-item" i18n><strong>Infant gender</strong></mat-label>

            <label class="radio-inline" i18n>

              <input type="radio" value="male" [(ngModel)]="gender" name="gender" required>
              Male
              <input type="radio" value="female" [(ngModel)]="gender" name="gender" required>
              Female
          </label>
            <mat-error *ngIf="!gender" i18n>
                Gender is required.
            </mat-error>
        </mat-card>
    </div>
    <div *ngFor="let item of foodItems">
        <question-block *ngIf="item.isPrimary" [foodItem]=item></question-block>
    </div>
    <!--Hide foods button-->
    <div *ngIf="!hideSecondaryItems" class="skip-foods-div">
        <mat-label i18n>If your baby did not eat any additional foods, click to skip.</mat-label>
        <button mat-raised-button class="skip-foods-button" (click)="toggleHideSecondaryItems()" color="primary" i18n>Skip Additional Foods</button>
    </div>
    <div *ngIf="hideSecondaryItems" class="skip-foods-div">
        <button class="reenable-foods-button" (click)="toggleHideSecondaryItems()" i18n>View additional food items</button>
    </div>
    <!--Question block per food item after button-->
    <div *ngFor="let item of foodItems">
        <question-block *ngIf="!item.isPrimary && !hideSecondaryItems" [foodItem]=item></question-block>
    </div>
    <!--Submit button-->
    <div class="questionnaire-footer" *ngIf="foodItems.length > 0">
        <button mat-raised-button (click)="submitQuestionnaire()" color="primary" [disabled]="submitting" i18n>Submit</button>
    </div>
    <div class="questionnaire-footer" *ngIf="foodItems.length < 1">
        <mat-label style="color: red" i18n>Server returned 0 food items. Please contact administrator.</mat-label>
    </div>
    <div class="fixed-bottom">
        <mat-progress-bar mode="indeterminate" *ngIf="submitting" i18n></mat-progress-bar>
    </div>
</div>
