<title>Research Participant Portal</title>

<div class="header">
  <h2 matDialogTitle i18n>{{TITLE}}</h2>
  <div align="center"><i> <img src="assets/images/logo.png" alt="" height="80" width="80"> </i></div>
  <div class="login-button">
    <button mat-raised-button (click)="logout()" i18n>Log out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>

  <div align="center"><i></i></div>
  <a class="tab-link" routerLink="participants/home" routerLinkActive="active">Questionnaire</a>
  <!-- uncomment history if neccessary
    <a class="tab-link" routerLink="/researcher_parents/history" routerLinkActive="active">FFQ History</a>
   -->
   
</div>
